table img { height: 70px; }
table th a { cursor: pointer; }
.my-pager input {
    display: inline-block;
    width: 40px;
    padding-left: 5px;
    text-align: center;
}

table p.comment {
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.comments {
    width: 250px;
}
