<img class="center-block" src="/img/spin.gif" *ngIf="loading">
<div class="container my-form" *ngIf="!loading">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <h3 class="card-header">Basic</h3>
                    <div class="card-block">
                        <fieldset class="form-group">
                            <label for="username">Login</label>
                            <input formControlName="username" name="username" id="username" type="text" class="form-control" disabled>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="firstName">First Name</label>
                            <input formControlName="firstName" name="firstName" id="firstName" type="text" class="form-control" required>
                            <div [hidden]="form.controls['firstName'].valid || form.controls['firstName'].pristine" class="alert alert-danger">
                                First Name is required
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="lastName">Last Name</label>
                            <input formControlName="lastName" name="lastName" id="lastName" type="text" class="form-control" required>
                            <div [hidden]="form.controls['lastName'].valid || form.controls['lastName'].pristine" class="alert alert-danger">
                                Last Name is required
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="result alert alert-danger hidden-md-down" *ngIf="error">
                    {{ error }}
                </div>

                <div class="result alert alert-success hidden-md-down" *ngIf="success">
                    The profile has been saved successful
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <h3 class="card-header">Additional Info</h3>
                    <div class="card-block">
                        <fieldset class="form-group">
                            <label for="gender">Gender</label>
                            <input formControlName="gender" list="genders" name="gender" id="gender" type="text" class="form-control">
                            <datalist id="genders">
                                <option value="Male">
                                <option value="Female">
                            </datalist>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="age">Age</label>
                            <input formControlName="age" name="age" id="age" type="text" class="form-control">
                            <div [hidden]="form.controls['age'].valid || form.controls['age'].pristine" class="alert alert-danger">
                                Age must be in the range from 0 to 95
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="address">Address</label>
                            <textarea formControlName="address" rows="3" name="address" id="address" class="form-control"></textarea>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="phone">Phone</label>
                            <input formControlName="phone" name="phone" id="phone" type="text" class="form-control">
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="hobby">Hobby</label>
                            <select formControlName="hobby" name="hobby" id="hobby" class="form-control">
                                <option>Hiking</option>
                                <option>Reading</option>
                                <option>Working</option>
                                <option>Learning</option>
                                <option>Video Games</option>
                                <option>Biking</option>
                                <option>Movies</option>
                                <option>Reading Comics</option>
                                <option>Drawing</option>
                                <option>Jogging</option>
                                <option>Knitting</option>
                                <option>Bird-watching</option>
                                <option>Other</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <h3 class="card-header">Additional Info</h3>
                    <div class="card-block">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Change Password</h4>
                                <h6 class="card-subtitle text-muted">(leave empty to keep current)</h6>
                            </div>

                            <div class="card-block">
                                <fieldset class="form-group">
                                    <label for="currentPassword">Current Password</label>
                                    <input formControlName="currentPassword" name="currentPassword" id="currentPassword" type="password" class="form-control">
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="newPassword">New Pasword</label>
                                    <input formControlName="newPassword" name="newPassword" id="newPassword" type="password" class="form-control">
                                </fieldset>

                                <fieldset class="form-group">
                                    <label for="newPasswordConfirmation">Confirm Password</label>
                                    <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" id="newPasswordConfirmation" type="password" class="form-control">
                                    <div [hidden]="form.controls['newPasswordConfirmation'].valid" class="alert alert-danger">
                                        Passwords do not match
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <label for="language">Language</label>
                            <select name="language" id="language" class="form-control">
                                <option>English</option>
                            </select>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

        <div class="row btn-block">
            <div class="pull-xs-right">
                <button type="submit" class="btn btn-default" [disabled]="!form.valid || sending">Save</button>
                <a [routerLink]="['']" role="button" class="btn">Cancel</a>
            </div>
        </div>

        <div class="row hidden-lg-up">
            <div class="result alert alert-danger" *ngIf="error">
                {{ error }}
            </div>

            <div class="result alert alert-success" *ngIf="success">
                The profile has been saved successful
            </div>
        </div>
    </form>
</div>