<img class="center-block" src="/img/spin.gif" *ngIf="loading">
<div class="row" *ngIf="!loading">
  <div class="col-md-4">
    <h2>The Most Popular Make</h2>
    <a [routerLink]="['make', dashboard.make.id]">
      <img class="img-fluid" [src]="'/img/cars/' + dashboard.make.image" title="{{ dashboard.make.name }}">
    </a>
    <h3>{{ dashboard.make.name }} <small>({{ dashboard.make.votes }} votes)</small></h3>
  </div>
  <div class="col-md-4">
    <h2>The Most Popular Model</h2>
    <a [routerLink]="['model', dashboard.model.id]">
      <img class="img-fluid" [src]="'/img/cars/' + dashboard.model.image" title="{{ dashboard.model.name }}">
    </a>
    <h3>{{ dashboard.model.make }} {{ dashboard.model.name }} <small>({{ dashboard.model.votes }} votes)</small></h3>
  </div>
  <div class="col-md-4">
    <h2>Overall Rating</h2>
    <p>A list of all registered models.</p>
    <p><a class="btn btn-secondary" [routerLink]="['overall']" role="button">View details &raquo;</a></p>
  </div>
</div>