<img class="center-block" src="/img/spin.gif" *ngIf="loading">
<div class="row" *ngIf="!loading">
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header">Popular Make</h2>
      <a [routerLink]="['make', dashboard.make.id]">
        <img class="img-fluid center-block" [src]="'/img/cars/' + dashboard.make.image" title="{{ dashboard.make.name }}">
      </a>
      <div class="card-block">
        <h3>{{ dashboard.make.name }} <small>({{ dashboard.make.votes }} votes)</small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header">Popular Model</h2>
      <a [routerLink]="['model', dashboard.model.id]">
        <img class="img-fluid center-block" [src]="'/img/cars/' + dashboard.model.image" title="{{ dashboard.model.name }}">
      </a>
      <div class="card-block">
        <h3>{{ dashboard.model.make }} {{ dashboard.model.name }} <small>({{ dashboard.model.votes }} votes)</small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header">Overall Rating</h2>
      <div class="card-block">
        <p class="card-text">A list of all registered models.</p>
        <p><a class="btn btn-primary" [routerLink]="['overall']" role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>