<img class="center-block" src="/img/spin.gif" *ngIf="loading">
<div class="row" *ngIf="!loading">
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header text-xs-center">Popular Make</h2>
      <a [routerLink]="['make', dashboard.make.id]">
        <img class="img-fluid center-block" [src]="'/img/cars/' + dashboard.make.image" title="{{ dashboard.make.name }}">
      </a>
      <div class="card-block">
        <h3>{{ dashboard.make.name }}<br/><small>({{ dashboard.make.votes }} votes)</small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header text-xs-center">Popular Model</h2>
      <a [routerLink]="['model', dashboard.model.id]">
        <img class="img-fluid center-block" [src]="'/img/cars/' + dashboard.model.image" title="{{ dashboard.model.name }}">
      </a>
      <div class="card-block">
        <h3>{{ dashboard.model.make }} {{ dashboard.model.name }}<br/><small>({{ dashboard.model.votes }} votes)</small></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <h2 class="card-header text-xs-center">Overall Rating</h2>
      <a [routerLink]="['/overall']">
        <img class="img-fluid center-block" src="/img/overall.jpg">
      </a>
      <div class="card-block">
        <h3>A list of all registered models.</h3>
      </div>
    </div>
  </div>
</div>